 <%-include("partials\\header");%>
    <h1>Home</h1>
    <p><%= bodyText %></p>
  <!--  <%/*for(var i=0;i<posts.length;i++){console.log(posts[i].title); }  */%>-->
  <% posts.forEach(function(post){ %> <!-- same as for loop above where post is a single element of posts-->
  <h1>  <%= post.title %> </h1>
  <p>  <%= post.content.substring(0, 100) + " ..."+"..."; %>
  <a href="/posts/<%=post.title%>">Read More</a></p>
  <p class="author"><span class="dash">-</span><%= post.author %>
    <%var date=new Date();%>
<%  var days=Math.floor((date.getTime()-post.dateSince.getTime())/(1000 * 3600 * 24));%>
  <%var day=days+" days ago";%>
  <%if(days==0){day="Today";}else if(days==1){day="Yesterday";}%>
  <br><%=  day %></p>
  <% }) %>


<%-include("partials\\footer");%>
