<%- include("partials\\header"); %>
    <h1><%= title %></h1>
    <p><%= bodyText %></p>
    <p class="author"><span class="dash">-</span><%= author %></p>
    <p class="author"><%= dateSince %></p>
<%- include("partials\\footer"); %>
